@CHARSET "UTF-8";

* {padding:0; margin:0;}

body {
	margin:0 0 5px 0;
	background:#fff;
	color:#444;
	font-size: 120%; /* Resets 1em to 10px */
	font-family: Verdana, 'Lucida Grande', Tahoma, Arial, Sans-Serif;
}

#page {
}

a:hover, a:visited, a {
    color: #444;
    text-decoration:underline;
    cursor:pointer;
}

.clickable {
	cursor:pointer;
}

#loading {
	width:100%;
	text-align:center;
	padding:5px;
	background:	#9aca3c;
}

.checkbox {
	margin-right:10px;
}

li {
	margin-left:15px;	
}

#header {
	background: #fff;
  	padding:5px 5px;
	text-align: center;
	margin-bottom: 5px;
}

#header-title {
	float:left;	
	height: 50px;
}
#header-title h1 {
	font-size:110%;
	display:inline;
	height: 50px;
	vertical-align:middle;
}

#header-logo {
	float:left;
	width:50px;
	height: 50px;
}

#header-right {
	float:right;	
	text-align:right;
}

#content {
	font-size:100%;
}

#content h2 {
	font-size:110%;
	text-align: center;
}

.error {
	color: red;
}

.formlabel, .formfield{
	font-size:130%;
	width:80%;
	margin:auto;
}

.formfield input{
	font-size:130%;
	width:100%;
}

.button {
	text-align:center;
	padding: 10px;
}
.button input {
	padding: 15px;
	width: 80%;
	font-size:130%;
}

.quizlist {
	margin: 10px;
	color:#77a240;
}

#quizheader {
	background: #9aca3c;
	padding: 5px;
	font-weight: bold;
	text-align: center;
}

#question {
	font-weight: bold;
	padding: 10px;
}

#response{
	padding: 10px;
}
.response {
	padding: 5px 0;
}
div.quiznavprev {
	float:left;
	width:45%;
}

div.quiznavnext {
	float:right;
	width:45%;
	text-align:right;
}

#quiznavprevbtn {
	width:90%;
}
#quiznavnextbtn {
	width:90%;
}

#quiz_results {
	font-size: 300%;
	text-align: center;
	border: 50px;
}

#footer {
	text-align:center;
	margin-top:10px;
	font-size:80%;
}

.matchingstate {
	width: auto;
	text-align:left;
	float:left;
}

.matchingopt {
	float:right;
	font-size:120%;
}