@CHARSET "UTF-8";

/* 
Style sheet for screen
*/

* {
	padding:0;
	margin:0;
}

body {
	margin:0 0 5px 0;
	background:#fff;
	color:#444;
	font-size: 100%; /* Resets 1em to 10px */
	font-family: Verdana, 'Lucida Grande', Tahoma, Arial, Sans-Serif;
}

#page {
	background:#fff;
	margin: 30px 5% 5px 5%;
  	min-height:500px;
}

h1 {
	font-size: 130%; 
}
h2 {
	font-size: 120%; 
}
h3 {
	font-size: 100%; 
}

a:hover, a:visited, a {
	color:#444;
	
}

#content ul {
	margin-top: 10px;
	margin-left: 20px;
}

#content li {
	
}

/* Header */
#header {
	border-bottom: 1px solid #444;
	padding-bottom: 5px;
}

#header ul {
	list-style-type: none;
}
#header li {
	float: left;
	margin: 0 10px;
}
#logo {
	float: left;
}
#menu {
	float: left;
	padding-left: 20px;
}
#userlogin {
	float: right;
}
/* Footer */
#footer {
	text-align:center;
	font-size:90%;
}

/* Content */
#content {
	margin-top:20px;
}

/* Forms */

div.formblock {
	clear:both;	
	margin:10px;
	padding:10px;
}

div.formlabel {
	float:left;
	width:150px;
	text-align:right;
	padding-right:10px;
}

div.formfield {
	float:left;
}

div.forminfo {
	float:left;	
}

/* Quiz list */

div.quizlist {
	padding:10px;
	clear:both;
	border-bottom: 1px solid #999;
}

div.quiztitle {
	float:left;
	width:200px;
}
div.quizattempts {
	float:left;
	width:200px;
}

/* home widgets */
div.homewidget {
	float:left;
	width:20%;
	border: 1px solid #ccc;
	margin:10px;
	padding: 5px;
	-moz-border-radius: 1em 1em;
  	border-radius: 1em 1em;
}

div.homewidget h3{
	text-align: center;
}

div.homestart {
	float:left;
	width:20%;
	border: 1px solid #ccc;
	margin:10px;
	padding: 5px;
	-moz-border-radius: 1em 1em;
  	border-radius: 1em 1em;
  	min-height:75px;
}

div.homestart h3{
	text-align: center;
}